# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
.vercel/
dist/
.next/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo
